* {
	text-align: center;
}

h1 {
	background-color: pink;
	padding: 20px;
} 

.angka {
	margin: 20px;
	font-size: 20px;
}
.simbol {
	font-size: 20px;
}

#symbol {
	width: 60px;
	font-weight: bold;
	padding: 5px;
}

button {
	padding: 10px;
}

.answear {
	margin-top: 50px;
	font-size: 30px;
}